body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}
/*CABEÇALHO DO SITE*/
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: burlywood;
    background: linear-gradient(burlywood,wheat);
}

header > #logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
header > #logo > p{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 15px;
    text-shadow:  10px 5px 5px rgba(0, 0, 0, 0.247);
}

header > nav > ul{
    display: flex;    
}
header > nav > ul > li{
    margin: 10px;
    list-style: none;
}
header > nav > ul > li > a{
    font-size: 28px;
    font-weight: 600;
    margin: 10px;
    color: white;
    text-decoration: none;
    text-shadow:  10px 10px 10px rgba(0, 0, 0, 0.164);
}
header > nav > ul > li > a:hover{
    color: rgb(116, 0, 0);
}

#bottom{
    display: none;
    width: 50px;
    height: 50px;
    background-color: brown;
    margin: 10px;
    border-radius: 50%;
}
/*MENU PARA CELULAR*/
#navgation{
    display: none;
    flex-flow: column;
    background-color: wheat;
    margin: 0%;
}
/*parte principal do site*/
main{
    min-height: 85vh;
    background-color: wheat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/*Conteudo escrito*/
main > #news{
    width: 30%;
    height: 80%;
    margin: 15px;
    padding-left: 35px;
    padding: 30px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.068);
}
main > #news > h1{
    margin: 15px;
    color: rgb(129, 54, 0);
    text-shadow:  5px 5px 10px rgba(0, 0, 0, 0.164);
}
main > #news > p{
    max-width: 90%;
    text-align: left;
    margin: auto;
    text-indent: 30px;
    text-shadow:  2px 2px 5px rgba(0, 0, 0, 0.171);
}
main > #news > hr {
    width: 100%;
}
/*Conteudo foto*/
main > #foto {
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 100%;
    padding: 20px;
    color: rgb(129, 54, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
}
main > #foto > img{
    width: 90%;
    height: 80%;
    border-radius: 30px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.144);
}
main > #foto > h1{
    text-shadow:  5px 5px 5px rgba(255, 255, 255, 0.466);
}
/*RESPONSIVIDADE PARA TELAS MENORES*/
    @media (max-width:1800px) {
    main{
        flex-flow: column;
    }
    main > #news{
        width: 80%;
    }
    main >#foto{
        width: 80%;
    }
}
/*RESPONSIVIDADE PARA CELULARES E TABLETS*/
    @media (max-width:1000px) {
    main{
        padding-bottom: 80px;
    }
    header > nav {    
        display: none;
    }
    #navgation > nav > ul{
        display: flex;    
        flex-flow: column;
        align-items: center;
    }
    #navgation > nav > ul > li{
        width: 90%;
        height: 100%;
        list-style: none;
        text-align: center;
        background-color: rgba(73, 4, 4, 0.918);
        margin: 2px;
        border:  3px solid rgba(136, 95, 18, 0.452);
    }
    #navgation >nav > ul > li > a{
        font-size: 28px;
        font-weight: 600;
        color: white;
        text-decoration: none;
    }
    #navgation >nav > ul > li > a:hover{
        color: rgb(0, 0, 0);
    }
    #bottom{
        display: inline;
    }
}